<!-- NAV BAR -->

<div class="container-fluid "> <!-- Page content -->
  <nav class="navbar navbar-default" id="main-menu">
  <div class="container-fluid">

    <!-- LEFT SECTION -->
    <ul class="nav navbar-nav navbar-left">

      <!-- MENU FILE -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">File<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="#" data-toggle="modal" data-target="#modalNewTree">
              <div class="clearfix">
                <span class="name">New Tree</span>
                <span id="key_new_tree" class="key"></span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#" onclick="app.events.onImportTreeModal('replace');" data-toggle="modal" data-target="#modalImportTree">
              <div class="clearfix">
                <span class="name">Import Tree</span>
                <span id="key_import_tree" class="key"></span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#" onclick="app.events.onImportTreeModal('append');" data-toggle="modal" data-target="#modalImportTree">
              <div class="clearfix">
                <span class="name">Import Subtree</span>
                <span id="key_import_tree" class="key"></span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <input type="file" id="importTreeFromFile" class="hidden" onchange="app.events.onButtonImportTreeFromFile('replace')" />
            <a href="#" onClick="$('#importTreeFromFile').click();">
              <div class="clearfix">
                <span class="name">Import Tree from File</span>
                <span id="key_import_tree" class="key"></span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <input type="file" id="importSubTreeFromFile" class="hidden" onchange="app.events.onButtonImportTreeFromFile('append')"/>
            <a href="#" onclick="$('#importSubTreeFromFile').click();">
              <div class="clearfix">
                <span class="name">Import Subtree from File</span>
                <span id="key_import_tree" class="key"></span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a onclick="app.events.onButtonExportTree();" data-toggle="modal" data-target="#modalExportTree" href="#">
              <div class="clearfix">
                <span class="name">Export Tree</span>
                <span id="key_export_tree" class="key"></span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a onclick="app.helpers.resetDynamicTable($('#addnode-table'));" data-toggle="modal" data-target="#modalAddNode" href="#">
              <div class="clearfix">
                <span class="name">Add Custom Node</span>
                <span id="key_export_tree" class="key"></span>
              </div>
            </a>
          </li>
        </ul>
      </li>
      <!-- END MENU FILE -->

      <!-- MENU EDIT -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Edit <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a onclick="app.events.onButtonCopy();" href="#">
              <div class="clearfix">
                <span class="name">Copy</span>
                <span id="key_copy" class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a onclick="app.events.onButtonCut();" href="#">
              <div class="clearfix">
                <span class="name">Cut</span>
                <span id="key_cut" class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a onclick="app.events.onButtonPaste();" href="#">
              <div class="clearfix">
                <span class="name">Paste</span>
                <span id="key_paste" class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a onclick="app.events.onButtonRemove();" href="#">
              <div class="clearfix">
                <span class="name">Remove</span>
                <span id="key_remove" class="key"></span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a onclick="app.events.onButtonRemoveConnections();" href="#">
              <div class="clearfix">
                <span class="name">Remove All Connections</span>
                <span class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a onclick="app.events.onButtonRemoveInConnections();" href="#">
              <div class="clearfix">
                <span class="name">Remove All In Connections</span>
                <span class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a onclick="app.events.onButtonRemoveOutConnections();" href="#">
              <div class="clearfix">
                <span class="name">Remove All Out Connections</span>
                <span class="key"></span>
              </div>
            </a>
          </li>
        </ul>
      </li>
      <!-- END MENU EDIT -->
      
      
      <!-- MENU VIEW -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a onclick="app.events.onButtonAutoOrganize();" href="#">
              <div class="clearfix">
                <span class="name">Auto Organize</span>
                <span id="key_organize" class="key"></span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a onclick="app.events.onButtonZoomIn();" href="#">
              <div class="clearfix">
                <span class="name">Zoom In</span>
                <span id="key_zoom_in" class="key"></span>
              </div>
            </a>
          </li>
          <li>
            <a onclick="app.events.onButtonZoomOut();" href="#">
              <div class="clearfix">
                <span class="name">Zoom Out</span>
                <span id="key_zoom_out" class="key"></span>
              </div>
            </a>
          </li>
        </ul>
      </li>
      
      <!-- MENU RUN -->
      <li>
        <a onclick="app.events.onButtonExecuteTree();" href="#">Run</a>
      </li>
      <!-- END MENU RUN -->
      
      <!-- MENU DEBUG -->
      <li style="margin-left:70px; border-left:1px solid #aaa; ">
        <a onclick="app.events.onButtonExecuteTree();" href="#"><i class="fa fa-play"></i></a>
      </li>
      <li>
        <a onclick="app.events.onButtonDebugTree();" href="#"><i class="fa fa-bug"></i></a>
      </li>
      <li>
        <a onclick="app.events.onButtonDebugStep();" href="#"><i class="fa fa-step-forward"></i></a>
      </li>
      <li>
        <a onclick="app.events.onButtonDebugLeap();" href="#"><i class="fa fa-fast-forward"></i></a>
      </li>
      <li>
        <a onclick="app.events.onButtonDebugPause();" href="#"><i class="fa fa-pause"></i></a>
      </li>
      <li style="border-right:1px solid #aaa;">
        <a onclick="app.events.onButtonStopTree();" href="#"><i class="fa fa-stop"></i></a>
      </li>
      <!-- END MENU DEBUG -->
  </div>
  </nav>

<!-- END NAV BAR -->

<div class="row"> <!-- BEGIN PAGE CONTENT ROW -->