<!-- MODAL EXPORT TREE -->

<div class="modal fade" id="modalExportTree">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Export Tree</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <form>
              <textarea id="export-entry" class="field col-md-12" placeholder="Exporting model, please wait..."></textarea>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="$('#export-entry').select();">Select All</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- END MODAL EXPORT TREE -->