<!-- MODAL NEW TREE -->

<div class="modal fade" id="modalNewTree">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Tree</h4>
      </div>
      <div class="modal-body">
        <p>Creating a new tree will erase the current content without saving it.</p>
        <p>Do you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" onclick="app.events.onButtonNewTree();" data-toggle="modal" data-target="#modalNewTree" class="btn btn-primary">Continue</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- END MODAL NEW TREE -->