<!-- MODAL FIRST TIME -->
<div class="modal fade" id="modalFirstTime">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Hello!</h4>
      </div>
      <div class="modal-body">
        <p>It seems to be your first time here!</p>
        <p>Please, take a few minutes to look at the <a href="https://github.com/renatopp/behavior3js/wiki">GUIDE</a> before using this editor.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" onclick="window.open('https://github.com/renatopp/behavior3js/wiki', '_blank'); $('#modalFirstTime').modal('hide');" class="btn btn-primary">Continue</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END MODAL FIRST TIME -->
