<!-- MODAL IMPORT TREE -->

<div class="modal fade" id="modalImportTree">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Import Tree</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <form>
              <textarea id="import-entry" class="field col-md-12" placeholder="Copy your JSON here"></textarea>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <button type="button" class="btn btn-default" onclick="$('#import-entry').select();" class="btn btn-primary">Select All</button>
          <button type="button" class="btn btn-default" onclick="$('#import-entry').val('');" class="btn btn-primary">Clear</button>
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" onclick="app.events.onButtonImportTree(); $('#modalImportTree').modal('hide');" class="btn btn-primary">Continue</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- END MODAL IMPORT TREE -->
